@import "tailwindcss";

@theme {
  --color-accent: #5E17EB;
  --color-accent-hover: #5E17EBCC;
  --font-sans: "Helvetica", "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  color: #000;
  background-color: #fff;
}
