@import "tailwindcss";

@theme {
  --color-accent: #0066FF;
  --color-accent-hover: #0066FFCC;
  --font-sans: "Helvetica", "Arial", sans-serif;
}


body {
  font-family: var(--font-sans);
  color: #000;
  background-color: #fff;
}